/*------------------------------------*\
  #Home Link
\*------------------------------------*/

.home-link {
  position: fixed;
  top: 5px;
  left: 5px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  background: var(--bs-primary);
  border-radius: 50%;
}

/*------------------------------------*\
  #Scaffolding
\*------------------------------------*/

html,
body {
  height: 100%;
}

/*------------------------------------*\
  #Wrapper
\*------------------------------------*/

.wrapper {
  display: grid;
  grid-template-columns: 200px minmax(700px, auto) minmax(450px, 600px);
  grid-template-areas: "navigation main related" "navigation main footer";
  height: 100%;

  @media (max-width: 1350px) {
    grid-template-columns: 200px auto;
    grid-template-areas: "navigation main" "navigation related" "navigation footer";
  }

  @media (max-width: 991px) {
    grid-template-columns: 50px auto;
  }

  .navigation {
    grid-area: navigation;
  }

  .main {
    grid-area: main;
    margin: 2rem;
    max-width: 800px;

    &--wide {
      max-width: 1200px;
    }
  }

  .related {
    grid-area: related;
    padding: 0 2rem;
  }

  .footer {
    margin: 0 2rem;
    grid-area: footer;
  }
}

/*------------------------------------*\
  #Navigation
\*------------------------------------*/

.navigation {
  background: var(--bs-light);
  border: 1px solid #ddd;

  svg {
    width: 1rem;
    height: 1rem;

    @media (min-width: 992px) {
      display: none;
    }
  }

  span {
    @media (max-width: 991px) {
      display: none;
    }
  }

  ul {
    position: fixed;
    bottom: 1rem;
    left: 0rem;
    z-index: 1;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

/*------------------------------------*\
  #Bubbles Grid
\*------------------------------------*/

.bubbles-grid-wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;

  > div {
    max-width: 95vw;
  }
}

$block: ".bubbles-grid";

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through 20 {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

#{$block} {
  display: flex;
  justify-content: center;

  &__list {
    --amount: 5;
    position: relative;
    padding: 0;
    width: 100vw;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 2.5rem 5rem;
  }

  &__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    height: 0;
    padding-bottom: 100%;

    img {
      width: 100%;
      height: 100%;
      flex: 1;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 5rem;
    color: #fff;
    background-color: royalblue;
    clip-path: circle(47% at 50% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    transition: transform 0.24s ease-out;
  }
}

@media screen and (min-width: 1440px) {
  #{$block} {
    &__list {
      --amount: 5;
      --counter: 1;
    }

    &__item {
      @include grid-item(5);
    }
  }
}

@media screen and (min-width: 1120px) and (max-width: 1439px) {
  #{$block} {
    &__list {
      --amount: 4;
      --counter: 1;
    }

    &__item {
      @include grid-item(4);
    }
  }
}

@media screen and (min-width: 840px) and (max-width: 1119px) {
  #{$block} {
    &__list {
      --amount: 3;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(3);
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 839px) {
  #{$block} {
    &__list {
      --amount: 2;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(2);
    }
  }
}

@media screen and (max-width: 479px) {
  #{$block} {
    &__list {
      --amount: 1;
      grid-gap: 1.5rem 3rem;
    }
  }
}

/*------------------------------------*\
  #Tiles Grid
\*------------------------------------*/

.tiles-grid-wrapper {
  margin: 2rem;

  .tiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    grid-auto-rows: minmax(250px, auto);
    grid-auto-flow: dense;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .span-large {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }

    .span-widescreen {
      grid-column-end: span 2;
      grid-row-end: span 1;
    }

    .span-portrait {
      grid-column-end: span 1;
      grid-row-end: span 2;
    }
  }
}
